<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<link rel="stylesheet" href="styles/bootstrap.min.css">
	<link rel="stylesheet" href="styles/styles.css">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"></link>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
	<title>Home</title>
</head>
<body>
	<nav th:replace="layouts/nav :: navFragment"></nav><!-- navbar -->	
	<div class="row"><!-- jumbotron start -->
		<div class="jumbotron text-centre">
			<h1>Breakfast Cereals</h1>
		  	<p>Which is your favourite?</p>
		</div>
	</div><!-- jumbotron end -->
	
	<div class="container">	
<!-- 		<form action="/searchid" method="get"> -->
<!-- 			<label>ID</label> -->
<!-- 			<input type="text" name="id"></input> -->
<!--  		    <input type="submit" value="Search"></input> -->
<!-- 		</form> -->
		
<!-- 		<form action="/searchname" method="get"> -->
<!-- 			<label>Name</label> -->
<!-- 			<input type="text" name="name"></input> -->
<!--  		    <input type="submit" value="Search"></input> -->
<!-- 		</form> -->
	</div>
	<script src="scripts/jquery.slim.min.js"></script>
	<script src="scripts/popper.min.js"></script>
	<script src="scripts/bootstrap.min.js"></script>	
</body>
</html>