<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<link rel="stylesheet" href="styles/bootstrap.min.css">
	<link rel="stylesheet" href="styles/styles.css">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
	<title th:text="${pageTitle}"></title>
</head>
<body>
	<nav th:replace="layouts/nav :: navFragment"></nav><!-- navbar -->			
	<div class="row"><!-- jumbotron start -->
		<div class="jumbotron">
			<h1>Floor Area</h1>
		  	<p>These are the 5 largest buildings in the world, by their Floor Area.</p>
		</div>
	</div><!-- jumbotron end -->
				
	<div class="container">
		<p>Toy Story Charaters</p>
		
		<table class="table table-striped">
			<thead>
				<th>Name</th>
				<th>Series</th>
				<th>Image</th>
			</thead>
			<tbody>
				<tr th:each="character: ${toyStoryCharacters}">
					<td th:text="${character.name}"></td>
					<td th:text="${character.author}"></td>
					<td><img src="../static/images/woody.png" th:src="@{/images/}+${character.image}"></img></td>
				</tr>	
			</tbody>
		</table>
	
	</div>			
	
	<script src="scripts/jquery.slim.min.js"></script>
	<script src="scripts/popper.min.js"></script>
	<script src="scripts/bootstrap.min.js"></script>
				
</body>
</html>